<div class="container">
<div class="text-center">
  <h2>Cotiza tu Evento</h2>
</div>
<form>
  <div class="form-group row">
    <label for="example-text-input">Nombre</label>
    <input class="form-control" type="text" value="Artisanal kale" id="example-text-input">
</div>


  <div class="form-group row">
    <label for="exampleFormControlInput1">Direccion de Email</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>


  <div class="form-group row">
    <label for="exampleFormControlSelect1">Tipo de Evento</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Boda</option>
      <option>XV Años</option>
      <option>Aniversario</option>
      <option>Cumpleaños</option>
    </select>
  </div>

<div class="form-group row">
    <label for="exampleFormControlSelect1">Paquete</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Paquete A</option>
      <option>Paquete B</option>
      <option>Paquete C</option>
    </select>
  </div>



  <div class="form-group row">
    <label for="exampleFormControlTextarea1">Comentarios</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <button type="button" class="btn btn-outline-primary">Enviar</button>
</form>
</div>