
<form action = '/plantillas-add' method='POST'>
   <div class="form-group">
    <label for="formGroupExampleInput">Nombre de la plantilla</label>
    <input name="nombre" type="text" class="form-control" id="formGroupExampleInput" placeholder="Nombre de la plantilla" name='nombre'>
  </div>
  <button type='submit'>Enviar</button>
</form>





